@{
    ViewData["Title"] = "Админка";
}

<h1>Админка</h1>

<a asp-area="" asp-controller="Admin" asp-action="Orders">Заказы</a>
<br />
<a asp-area="" asp-controller="Admin" asp-action="Products">Товары</a>
<br />
<a asp-area="" asp-controller="Admin" asp-action="Categories">Категории</a>
<br />
<a asp-area="" asp-controller="Admin" asp-action="Roles">Роли</a>